!!!
%title= "Pingu-Klangbrett"
%meta{ :content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
%link{ :href => "css/4ac22d62.css", :rel => "stylesheet"}
%body
    #gabeltaster
        %a{ :href => "https://github.com/spaceSub/nootboard"}
            %span Gabeln Sie auf Deppendrehkreuz
    .behaeltnis
        #kopfgrafik
            %img{ :src => "soundsystem.png", :alt => "Pingu Klangbrett"}
        #ueberschrift
            %h1 
                %a{ :href => "http://noot.geheim.org"} Pingu Klangbrett
        %br.clear
        .klang
            %h2 Noot Nooooot
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot01.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot01.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot..
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot02.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot02.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot?
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot03.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot03.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot!!
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot04.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot04.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot!
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot05.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot05.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot :/
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot06.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot06.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot.
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot07.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot07.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot.
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot08.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot08.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot. :>
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot09.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot09.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot!
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot10.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot10.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot!!
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot11.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot11.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot!!
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot12.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot12.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot. :>
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot13.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot13.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot :c
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot14.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot14.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot. >:/
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot15.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot15.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot??
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot16.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot16.mp3", :type => "audio/mp3"}
        .klang
            %h2 Noot Noot.
            %audio{ :controls => "controls"}
                %source{ :src => "data/nootnoot17.ogg", :type => "audio/ogg"}
                %source{ :src => "data/nootnoot17.mp3", :type => "audio/mp3"}

    %script{    :src => "js/9366B790.js",
                :type => "text/javascript"}
